@import url("sala-variables.css");

* {
  cursor: none;
  background-color: var(--color-background);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#clock {
  text-align: center;
  border-radius: var(--border);
  color: var(--color-text);
  background-color: var(--color-logo);
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}
