<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Historia Lckziu</title>
    <script type="text/javascript" src="../static/js/particles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
    function getRange() {
        var x = document.getElementById("range").value;
        document.getElementById("rvalue").innerHTML = x;
    }
    document.addEventListener("mousemove", getRange)
    </script>
</head>
<body>
    <div id="particles-js"></div>
    <div class="container">
    <div class="container-slides">
        <div class="text">
            <p class="title">{{ title }}</p>
            <p class="textcontent">{{ text }}</p>
        </div>
        <div class="images">{% for p in img %}<img id="{{ p }}" class="image" src="../static/assets/{{ year }}/img/{{ p }}">{% endfor %}
        </div>
    </div>
    <div class="slidercontainer">
        <div class="tooltip">
            <input type="range" min="{{ range[0] }}" max="{{ range[1] }}" value="{{ year }}" class="slider" id="range">
            <span onclick="getRange()" class="tooltiptext" id="rvalue"></span>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/myparticles.js"></script>
</html>