<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/simplelightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Historia Lckziu</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/particles.js"></script>
    <script type="text/javascript" src="../static/js/simple-lightbox.js"></script>
    <script type="text/javascript" src="../static/js/namedictionary.js"></script>

</head>
<body>
    <div id="particles-js"></div>
    <div class="loader">
        <div class="logoloader"><img class="loaderimg" src="../static/img/loaderlogo.png"/> </div>
    </div>
    <div class="container">
        <a href="/{{ previous }}" ><div class="i left"></div></a>
        <a href="/{{ next }}" ><div class="i right"></div></a>
    <div class="container-slides">
        <div class="text">
            <p class="title">{{ title }}</p>
            <div class="textcontent">
                {{ text|safe }}
            </div>
        </div>
        <div class="images">{% for p in img %}<a href="../static/assets/{{ current }}/img/{{ p }}"><img class="image gallery" src="../static/assets/{{ current }}/img/{{ p }}"></a>{% endfor %}
        </div>
    </div>
        <div class="slidercontainer">
        <div class="tooltip">
            <input type="range" min="{{ range[0] }}" max="{{ range[1] }}" value="{{ sliderpos }}" class="slider" id="range">
            <span onclick="getRange()" class="tooltiptext" id="rvalue"></span>
        </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/myparticles.js"></script>
<script>
    function getRange() {
        var x = document.getElementById("range").value;
        document.getElementById("rvalue").innerHTML = names[x - 1];
    }
    document.addEventListener("mousemove", getRange)

     document.querySelector(`#range`).addEventListener('mouseup', () => {


         const page = document.querySelector(`#range`).value;
         {% for i in dirs %}
             if (page == {{ years[i] }}){
                 let url = `http://127.0.0.1:5000/{{ i }}`;
                 window.location.replace(url);
             }
         {% endfor %}


     });
    const op = {
        overlay: 'true',
        spinner: 'true',
        loop: 'true',
        enableKeyboard: "true",
        animationSpeed: "200"
    };
    var lightbox = $('.images a').simpleLightbox(op);
    window.addEventListener('click keypress mousemove', function() {
        window.clearTimeout(redirectTimeoutId)
    }, true)
    var redirectTimeoutId = window.setTimeout(redirectToHomepage, 60000);
    function redirectToHomepage() {
        window.location.href = 'http://127.0.0.1:5000/';
    }
    function hideLoader() {
        document.getElementsByClassName("loader")[0].style="visibility: hidden;";
    }
    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(hideLoader, 1000)
    });
</script>
</html>